<!-- bottom_nav.ejs -->

<footer>
    <nav class="nav-bar fixed-bottom navbar-light bg-light">
        <div class="container-fluid">
            <h6>&Copy; 2023 All rights reserved </h6>
        </div>
    </nav>
</footer>