<!--
    File Name: footer.ejs
    Student Name: Anupriya Nain
    Student ID: 301251645
    Date: Sep 30,2022
-->
<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">&copy; 2023 Anupriya Nain</p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/Anupriya_Lab1/views/home.ejs" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/Anupriya_Lab1/views/about.ejs" class="nav-link px-2 text-muted">About Me</a></li>
            <li class="nav-item"><a href="/Anupriya_Lab1/views/projects.ejs" class="nav-link px-2 text-muted">Projects</a></li>
            <li class="nav-item"><a href="/Anupriya_Lab1/views/services.ejs" class="nav-link px-2 text-muted">Services</a></li>
            <li class="nav-item"><a href="/Anupriya_Lab1/views/contact.ejs" class="nav-link px-2 text-muted">Contact</a></li>
        </ul>
    </footer>
</div> 