<! --
file name:: header.ejs
Student Name: Anupriya Nain
Student ID: 301251645   
Date: October 02,2023
-->
<html>
    <head>
        <!-- Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width, initial-scale-1">
        <meta name="description" content="">
        <meta author="author" content="Anupriya">
        <meta name="generator" content="Huge 0.101.0">
        <title>Anupriya Nain Web229 Lab1 - Portfolio Site </title> 
        
       <!-- Bookstrap CSS -->
       <link rel="StyleSheet" href="Anupriya_Lab1\public\Content\app.css"/>
       <style>
        
       </style>
    </head>
</html>