<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - Anupriya Nain</title>
    <link rel="stylesheet" href="Anupriya_Lab1\public\Content\app.css"> 
</head>
<body>
<!-- About section -->
<section id="about">
    <div class="container mt-4 pt-4">
        <h1 class="text-center">About me</h1>
        <div class="row mt-4">
            <div class="col-lg-4">
                <img src="Anupriya_Lab1\public\Assetes\images\myProtofolio.jpg" class="ProfilePickture">
            </div>
            <div class="col-lg-g">
                <p class="about_desc">I am Anupriya Nain, a student of the Artificial Intelligence-Software
                     Engineering Technology course. I am a great team player but can also work 
                     independently when required. I have excellent communication and interpersonal
                     skills and am able to build strong working relationships with both colleagues
                     and clients. With a strong background in the technical field, I strive to 
                     deliver high-quality solutions. When I'm not working on exciting projects,
                     I enjoy playing badminton and going to the gurudwara (a holy place of my religion).</p>
                <p class="about_desc">I am highly organized and efficient, with a keen eye for
                     detail. I am used to working to tight deadlines.</p>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <ul>
                            <li>Name: Anupriya Nain</li>
                            <li>Age: 20</li>
                            <li>Email id: a890@my.centennialcollege.ca</li>
                        </ul>
                    </div>
                </div>
                <p>Link to my resume: <a href="C:\Users\Anu\Desktop\comp 22899web development\Anupriya_Lab1\public\Assetes\SET Resume.pdf" target="_blank">Resume</a></p>
            </div>
        </div>
    </div>
</section>
